.container, .submit-text, .submit-button, .login-text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:cornflowerblue;
}

.join, .host{
    border-radius: 5px;
    padding: 10px;
    font-size: 60px;
    color:cornflowerblue;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.join:hover, .host:hover{
    transform: scale(1.05);
}

.join:active, .host:active{
    transform: scale(0.95);
}

.join{
    background-color:honeydew
}

.host{
    background-color: azure;
}

.dash-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    width: 325px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

body{
    background-color:mistyrose;
}

.top-bar{
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    width: fit-content;
    align-items: center;
}

.login{
    padding: 10px;
}

.login-text{
    text-decoration: none;
}

.submit-form{
    padding: 10px;
}